section{
	width:50%;
	margin:0 auto;
	text-align: center;
	padding-top:5%;
}

section h1{
	color: red;
}

body{
	background-color: #EDEDE9;
}

#btn-comprar{
	background-color: #FFB420;
}

#btn-comprar:hover{
	background-color: #FFE02B;
}

table{
	margin:0 auto;
	width:75%;

}

section h3{
	color: red;
}