* { margin: 0; padding: 0; }

#imagen
{
	width: 20%;
	height: 100%;
	float: left;
}

header
{
	width: 100%;
	height: 15%;
	background-color: #424045;
	text-align: center;
	color: white;
}

label
{
	font-family: courier;
	font-weight: 700;
}

#asideMenu
{
	background-color: #A4A4A4;
	float: left;
	font-family: courier;
	color: white;
	text-decoration: none;
	height: 100%;
	width: 20%;
}

#sectionP
{
	width: 80%;
	height: 100%;
	background-color: #E6E6E6;
	float: left;
}

#menuCentral
{
	
}

#menuCentral li
{
	padding-top: 2.5%;
	list-style: none;
}

footer
{
	width: 100%;
	height: 108%;
	background-color: #424045;
	color: #FFE02B;
	text-align: center;
	font-size: 15px;
}

#menuLateral
{
	padding-top: 30%;
}

#menuLateral li
{
	padding-top: 20%;
	list-style: none;
}

a
{
	text-decoration: none;
	color: black;
	padding-left: 20px;
}

#encabezadoTabla
{
	text-align: center;
	font-size: 30px;
	
}

#txtEncabezado1
{
	font-size: 80px;
}

#tablaMenu{
	border: 1px;
	height: 200px;
	width: 100%;
	padding-top: 20px;
	font-size: 22px;
	font-family: courier;
}